<clr-main-container>
  <app-app-alert></app-app-alert>
  <clr-header>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Apuestas</a>
      <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <!-- TODO: This is a good idea but it's taking a lot of time of me
        I need to execute a remote function from another component, I'm thinking in redux, or Subjects
      -->
      <!-- <nav style="position: sticky; top: 0;">
        <button
          [disabled]="menu.disabled"
          [ngClass]="menu.cssClass"
          [routerLink]="menu.url"
          *ngFor="let menu of contextMenu"
          (click)="functionName('insertName')"
        >
          {{ menu.title }}
        </button>
        <button class="btn" [disabled]="updateItsDisabled">Editar</button>
      </nav> -->
      <router-outlet></router-outlet>
    </main>
    <nav class="sidenav" [clr-nav-level]="1">
      <section class="sidenav-content">
        <a [routerLink]="['/admin/bets']" routerLinkActive="active" class="nav-link">
          Apuestas
        </a>
        <!-- <a href="..." class="nav-link">
                Nav Element 2
              </a> -->
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox" />
          <label for="tabexample1">Configuración</label>
          <ul class="nav-list">
            <!-- <li><a class="nav-link">Apuestas</a></li> -->
            <li>
              <a class="nav-link" [routerLink]="['/admin/teams-list']" routerLinkActive="active">Equipos</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/admin/categories']" routerLinkActive="active">Categorías</a>
            </li>
          </ul>
        </section>
        <!-- <section class="nav-group">
                        <input id="tabexample2" type="checkbox">
                        <label for="tabexample2">Default Nav Element</label>
                        <ul class="nav-list">
                            <li><a class="nav-link">Link 1</a></li>
                            <li><a class="nav-link">Link 2</a></li>
                            <li><a class="nav-link active">Link 3</a></li>
                            <li><a class="nav-link">Link 4</a></li>
                            <li><a class="nav-link">Link 5</a></li>
                            <li><a class="nav-link">Link 6</a></li>
                        </ul>
                    </section> -->
      </section>
    </nav>
  </div>
</clr-main-container>

<!-- <div class="main-container">

  <div class="content-container">
    <div class="content-area">


    </div>

  </div>
</div> -->
