.gb_De {
    height: 48px;
    form {
        border-radius: 5px;
        background: #00000017;
        display: flex;
        flex-direction: row;
        // align-items: center;
        max-width: 720px;
        position: relative;
        div {
            height: 46px;
            margin-left: 56px;
            margin-right: 49px;
            padding: 0;
            overflow: hidden;
            .gb_bf {
                font: bold 16px 'Encode Sans Expanded', Roboto, RobotoDraft, Helvetica, Arial,
                    sans-serif;
                background: transparent;
                height: 46px;
                outline: none;
                border: none;
                box-sizing: border-box;
                &:not(.gb_sf) {
                    padding: 11px 0;
                }
            }

            input {
                display: inline-block;
            }
            // padding: ;
        }
        .gb_nf {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0 5px;
            line-height: 0;
            box-sizing: border-box;
            height: 100%;
            width: 56px;
            float: left;
            position: absolute;
            top: 0;
            &:hover svg {
                background-color: rgba(60, 64, 67, 0.08);
                border-radius: 50px;
                padding: 8px;
                margin: 3px;
                width: 40px;
                height: 40px;
            }
            &:active svg {
                background-color: rgba(60, 64, 67, 0.12);
                outline: none;
                border-radius: 50px;
                padding: 8px;
                margin: 3px;
                width: 40px;
                height: 40px;
            }
        }

        .gb_kf {
            width: 49px;
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0 5px;
            line-height: 0;
            &:hover svg {
                background-color: rgba(60, 64, 67, 0.08);
                border-radius: 50px;
                padding: 8px;
                width: 40px;
                height: 40px;
                // margin: 3px;
            }
            &:active svg {
                background-color: rgba(60, 64, 67, 0.12);
                outline: none;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                padding: 8px;
                width: 40px;
                height: 40px;
                // margin: 3px;
            }
        }
    }
}
