<mat-card>
  <mat-card-header>
    Nuevo Evento
  </mat-card-header>
  <form [formGroup]="eventsForm">
    <div class="row column-margin">
      <div class="column">
        <mat-form-field appearance="standard">
          <mat-label>Nombre del Evento</mat-label>
          <input
            placeholder="Ejemplo: Copa Concacaf"
            matInput
            id="name"
            type="text"
            name="name"
            formControlName="name"
          />
        </mat-form-field>
        <!-- {{ this.event.name }} -->
      </div>
    </div>
    <div></div>
  </form>
</mat-card>

<!-- <button class="btn btn-primary" (click)="insertEvents()">Save</button> -->
