<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> Apuesta Nueva</mat-card-title>
    <mat-card-subtitle>
      {{
        this.betsForm.get('title').value === null || this.betsForm.get('title').value === ''
          ? 'Titulo de Apuesta'
          : this.betsForm.get('title').value
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <form [formGroup]="betsForm">
    <div class="row column-margin">
      <div class="column">
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput type="text" name="title" id="title" formControlName="title" />
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            id="description"
            type="text"
            name="description"
            formControlName="description"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row column-margin">
      <div class="column">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            [matDatepicker]="picker"
            id="event-date"
            matInput
            name="date"
            formControlName="eventDate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            id="event-url"
            type="text"
            placeholder="http://www.ejemplo.com"
            name="event-url"
            formControlName="eventUrl"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row column-margin">
      <div class="column">
        <mat-form-field appearance="standard">
          <mat-select
            name="categories-selector"
            id="category-selector"
            formControlName="categoryId"
          >
            <mat-option [value]="category.id" *ngFor="let category of categories">{{
              category.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field appearance="standard">
          <input
            matInput
            placeholder="State"
            aria-label="State"
            [matAutocomplete]="auto1"
            [formControl]="teamOneId"
          />

          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option [value]="teamOne.name" *ngFor="let teamOne of teamsOne">
              <div style="display: flex; align-items: center;">
                <img style="height: 24px; margin-right: 20px" [src]="teamOne.logoUrl" alt="" />{{
                  teamOne.name
                }}
              </div></mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field appearance="standard">
          <input
            matInput
            placeholder="State"
            aria-label="State"
            [matAutocomplete]="auto2"
            [formControl]="teamTwoId"
          />

          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option [value]="teamTwo.name" *ngFor="let teamTwo of teamsOne">
              <div style="display: flex; align-items: center;">
                <img style="height: 24px; margin-right: 20px" [src]="teamTwo.logoUrl" alt="" />{{
                  teamTwo.name
                }}
              </div></mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
