<!-- <nav style="position: sticky; top: 0;">
  <button
    mat-flat-button
    [id]="contextMenu[0].id"
    [disabled]="contextMenu[0].disabled"
    [ngClass]="contextMenu[0].cssClass"
    (click)="insertBets()"
  >
    {{ contextMenu[0].title }}
  </button>
  <button
    mat-flat-button
    [id]="contextMenu[1].id"
    [disabled]="contextMenu[1].disabled"
    [ngClass]="contextMenu[1].cssClass"
    [routerLink]="['/admin/bets']"
  >
    {{ contextMenu[1].title }}
  </button>
</nav> -->
<!-- <mat-toolbar>
  <mat-toolbar-row> </mat-toolbar-row>
</mat-toolbar> -->
<div class="card">
  <div class="card-header">
    Nueva Apuesta
  </div>
  <div class="card-block">
    <div class="card-title">
      {{ this.bet.title }}
    </div>
    <div class="card-text">
      <form clrForm [formGroup]="betsForm">
        <mat-form-field appearance="standard">
          <input matInput type="text" name="title" id="title" formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input
            matInput
            id="description"
            type="text"
            name="description"
            formControlName="description"
          />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input
            matInput
            id="created-at"
            [matDatepicker]="picker"
            name="date"
            formControlName="createdAt"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input
            matInput
            id="event-url"
            type="text"
            placeholder="http://www.ejemplo.com"
            name="event-url"
            formControlName="eventUrl"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-select
            name="categories-selector"
            id="category-selector"
            formControlName="categoryId"
          >
            <mat-option [value]="category.id" *ngFor="let category of categories">{{
              category.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>

<pre class="datepicker-output">
    {{ betsForm.getRawValue() | json }}
</pre>

<!-- <button class="btn btn-primary" (click)="insertBets()">Save</button> -->
