<nav style="position: sticky; top: 0;">
  <button
    mat-stroked-button
    [id]="menu.id"
    [disabled]="menu.disabled"
    [ngClass]="menu.cssClass"
    [routerLink]="menu.url"
    *ngFor="let menu of contextMenu"
  >
    {{ menu.title }}
  </button>
</nav>

<mat-nav-list>
  <h3 mat-subheader>Apuestas</h3>
  <mat-list-item
    [routerLink]="['/admin', 'bets', 'update', bet.id]"
    routerLinkActive="router-link-active"
    *ngFor="let bet of bets"
  >
    <h4 mat-line>{{ bet.title }}</h4>
    <p mat-line>{{ bet.description }}</p>

    <!-- <p mat-line>{{ bet.createdAt }}</p> -->
    <p style="width: 120px">{{ bet.createdAt | date }}</p>
  </mat-list-item>
</mat-nav-list>
<!-- <clr-datagrid
  [(clrDgSingleSelected)]="selectedBet"
  [clrDgRowSelection]="true"
  (clrDgSingleSelectedChange)="selectionChanged($event)"
>
  <clr-dg-column>Código</clr-dg-column>
  <clr-dg-column>Titulo</clr-dg-column>
  <clr-dg-column>Descripción</clr-dg-column>
  <clr-dg-column>Url del Evento</clr-dg-column>

  <clr-dg-row *ngFor="let bet of bets" [clrDgItem]="bet">
    <clr-dg-cell>{{ bet.id }}</clr-dg-cell>
    <clr-dg-cell>{{ bet.title }}</clr-dg-cell>
    <clr-dg-cell>{{ bet.description }}</clr-dg-cell>
    <clr-dg-cell>{{ bet.eventUrl }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ bets.length }} {{ bets.length === 1 ? 'apuesta' : 'apuestas' }}</clr-dg-footer>
</clr-datagrid> -->
