<!-- <mat-toolbar>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar> -->
<mat-card style="margin: 0 10px; overflow-y: auto; height: calc(100% - 100px)">
  <table>
    <tr>
      <th *ngFor="let item of betsTableTitle" [ngStyle]="{ 'text-align': 'left' }">
        {{ item.title }}
      </th>
    </tr>
    <tr
      *ngFor="let bet of bets"
      style="cursor: pointer"
      [routerLink]="['/admin', 'bets', 'update', bet.id]"
    >
      <td>{{ bet.title }}</td>
      <td>{{ bet.description }}</td>
      <td>{{ bet.eventDate | date }}</td>
      <td>{{ getCategoryById(bet.categoryId) }}</td>
      <td>{{ bet.eventUrl }}</td>
      <td><mat-icon>chevron_right</mat-icon></td>
    </tr>
  </table>

  <!-- {{ categories | json }} -->
</mat-card>
<button
  mat-fab
  color="accent"
  [routerLink]="['/admin/bets/create']"
  routerLinkActive="router-link-active"
  style="position: fixed; bottom: 16px; right: 16px;"
>
  <mat-icon>add</mat-icon>
</button>
<!-- <clr-datagrid
  [(clrDgSingleSelected)]="selectedBet"
  [clrDgRowSelection]="true"
  (clrDgSingleSelectedChange)="selectionChanged($event)"
>
  <clr-dg-column>Código</clr-dg-column>
  <clr-dg-column>Titulo</clr-dg-column>
  <clr-dg-column>Descripción</clr-dg-column>
  <clr-dg-column>Url del Evento</clr-dg-column>

  <clr-dg-row *ngFor="let bet of bets" [clrDgItem]="bet">
    <clr-dg-cell>{{ bet.id }}</clr-dg-cell>
    <clr-dg-cell>{{ bet.title }}</clr-dg-cell>
    <clr-dg-cell>{{ bet.description }}</clr-dg-cell>
    <clr-dg-cell>{{ bet.eventUrl }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ bets.length }} {{ bets.length === 1 ? 'apuesta' : 'apuestas' }}</clr-dg-footer>
</clr-datagrid> -->
