<mat-card>
  <mat-card-header>
    <mat-card-title>
      Equipos
    </mat-card-title>
  </mat-card-header>

  <form>
    <div class="row column-margin">
      <div class="column">
        <mat-form-field appearance="standard">
          <mat-label for="name">Nombre</mat-label>
          <input type="text" matInput [(ngModel)]="team.name" name="name" id="name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row column-margin">
      <div class="column">
        <mat-form-field appearance="standard">
          <mat-label for="description">Descripción</mat-label>
          <input
            type="text"
            name="description"
            [(ngModel)]="team.description"
            matInput
            id="description"
          />
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field appearance="standard">
          <mat-label for="logo-url">Logo</mat-label>
          <input type="text" name="logo-url" [(ngModel)]="team.logoUrl" matInput id="name" />
        </mat-form-field>
      </div>
    </div>
  </form>

  <!-- <div class="card-footer">
    <button name="insert-team" class="btn btn-sm btn-link" (click)="insertTeam()">
      Guardar
    </button>
  </div> -->
</mat-card>

<!-- <label class="btn btn-link">
    <input type="file"
           (change)="onChange($event)"
           placeholder="Upload file"
           class="button-input"
           accept="*">
    Attach Files
</label> -->
