@import '~@angular/material/_theming.scss';
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-secondary {
  position: sticky;
  top: 64px;
  z-index: 1;
  @media (#{$mat-xsmall}) {
    top: 56px;
  }
}
