<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="admin/bets">Apuestas</a>
      <a mat-list-item href="admin/teams">Equipos</a>
      <a mat-list-item href="admin/categories">Categorías</a>
      <a mat-list-item href="admin/events">Eventos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="mat-toolbar-secondary mat-elevation-z3" style="margin-bottom: 15px">
      <mat-toolbar-row>
        <button
          mat-button
          (click)="launchAction(item.fnName)"
          [color]="item.color"
          [id]="item.id"
          *ngFor="let item of toolbarStruct"
        >
          {{ item.name }}
        </button>
        <span class="mat-toolbar-spacer"></span>
        <div class="gb_De">
          <form class="gb_Qe aSVJYc-G0jgYd-ZMv3u" method="get">
            <!-- <button class="gb_mf" aria-label="Cerrar la búsqueda" type="button">
              <svg
                focusable="false"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
              </svg>
            </button> -->
            <div class="gb_rf">
              <input
                class="gb_bf"
                aria-label="Búsqueda"
                autocomplete="off"
                placeholder="Buscar"
                value=""
                name="q"
                role="combobox"
                type="text"
              />
            </div>
            <button
              class="gb_kf"
              aria-label="Borrar búsqueda"
              type="button"
              style="visibility: visible;"
            >
              <svg
                focusable="false"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                ></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg></button
            ><button class="gb_nf" aria-label="Búsqueda" role="button">
              <svg
                focusable="false"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.49,19l-5.73-5.73C15.53,12.2,16,10.91,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.41,0,2.7-0.47,3.77-1.24L19,20.49L20.49,19z M5,9.5C5,7.01,7.01,5,9.5,5S14,7.01,14,9.5S11.99,14,9.5,14S5,11.99,5,9.5z"
                ></path>
                <path d="M0,0h24v24H0V0z" fill="none"></path>
              </svg>
            </button>
          </form>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
