/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/style.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('./assets/fonts/ProductSans-Regular.woff') format('woff');
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

.column-margin > .column {
  margin: 5px;
}
